body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
  margin: 0px;
}

svg{
  align-content: center;
  text-align: center;  
}

@media screen and (min-width: 2500px) {
  svg {
    margin-left: 25vh;  
  }
}
@media screen and (min-width: 1400px) and (max-width: 1600px ) {
  svg {
    margin-left: 10vh;  
  }
}
@media screen and (min-width: 1600px) and (max-width: 2500px ) {
  svg {
    margin-left: 15vh;  
  }
}

.logo {
  margin-left: 15px;
  height: 100%;
  object-fit: contain;
}
.menu {
  background-color: #00426B;
  height: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  /* position: relative; */
}
.menu__company {
  height: 32px;
  margin-left: 24px;
  position: absolute; 
}

.menu_title {
  align-items: center;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  align-content: center;
  position: relative;
  margin-top: -30px;
}

.title{
  color: #ffff;
  font-size: 1.5em;
  
}


h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 100%x;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}
